<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prove 10</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/js/main_front.js"></script>
</head>
<body onload="init()">
    <header class="main-header"><h1>Prove 10</h1></header>
    <main>
        <table>
            <thead><th>name</th><th>power</th><th>age</th></thead>
            <tbody id="avengers"></tbody>
            <tfoot><td><input type="text" id="name"></td><td><input type="text" id="power"></td><td><input type="number" id="age"></td></tfoot>
        </table>
        <div class="row"><button onclick="submit()">Save</button></div>
    </main>
</body>
</html>